<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Save Mentorship Program</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>Save Mentorship Program</h3>
<form action="#" th:action="@{/mprogram/save}" th:object="${mprogram}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p><label>Name: <input type="text" required="required" pattern="(\s*[A-Za-z0-9]+\s*)+" placeholder="Name" th:field="*{name}"/></label>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></p>
    <p><label>Start: <input type="date" required="required" th:field="*{startDate}"/></label>
        <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
    </p>
    <p><label>End: <input type="date" required="required" th:field="*{endDate}"/></label>
        <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
    </p>

    <p><input type="submit" value="Save"/></p>
</form>
</body>
</html>