<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h3>Users</h3>
<div th:if="${not #lists.isEmpty(users)}">
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Level</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.level}"></td>
            <td><a th:href="@{../get/{path}(path=${user.id})}">details</a>
                <a th:href="@{../edit/{path}(path=${user.id})}">edit</a>
                <a th:href="@{../delete/{path}(path=${user.id})}">delete</a>
            </td>
        </tr>
    </table>
</div>
<div th:if="${#lists.isEmpty(users)}">
    <p>There is no any user.</p>
    <p><a th:href="@{../add}">Add user.</a></p>
</div>

</body>
</html>